
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
    background:#f5f7f2;
    color:#333;
}


header{
    position:relative;
    min-height:100vh;
    overflow:hidden;
    color:white;
}

.hero-slider{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.slide{ position:absolute; 
    width:100%; 
    height:100%; 
    opacity:0; 
    background-size:cover; 
    background-position:center center; 
    transition:opacity 1.5s ease;
 }

.slide.active{
    opacity:1;
}

.slide:nth-child(1){
    background:
    linear-gradient(rgba(0,0,0,.45),rgba(0,0,0,.45)),
    url("https://i.ibb.co/Cpzfy4c0/hero.jpg");
    background-size:cover;

    /* mueve la imagen */
    background-position:center 30%;
}

.slide:nth-child(2){
    background:
    linear-gradient(rgba(0,0,0,.45),rgba(0,0,0,.45)),
    url("https://i.ibb.co/j9zP9GJ8/sunset.jpg");
    background-size:cover;
    background-position:center 30%;

}

.slide:nth-child(3){
    background:
    linear-gradient(rgba(0,0,0,.45),rgba(0,0,0,.45)),
    url("https://i.ibb.co/GQszvYYg/capibara.jpg");
    background-size:cover;
    background-position:center 30%;

}

.slide:nth-child(4){
    background:
    linear-gradient(rgba(0,0,0,.45),rgba(0,0,0,.45)),
    url("https://i.ibb.co/Z1tpWMpN/aves.jpg");
    background-size:cover;
    background-position:center 30%;

}

nav,
.hero{
    position:relative;
    z-index:2;
}





nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
    padding:20px 8%;
    gap:20px;
}

nav ul{
    display:flex;
    gap:25px;
    list-style:none;
}

nav a{
    text-decoration:none;
    color:white;
}

.language-buttons{
    display:flex;
    gap:10px;
}

.language-buttons button{
    border:none;
    padding:10px 15px;
    background:#14853c;
    color:white;
    border-radius:8px;
    cursor:pointer;
}

.hero{
    min-height:80vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:20px;
}

.hero h2{
    font-size:clamp(2rem,5vw,4rem);
    margin-bottom:20px;
}

.hero p{
    width:90%;
    max-width:800px;
    line-height:1.8;
    font-size:clamp(1rem,2vw,1.2rem);
}

.btn{
    display:inline-block;
    margin-top:30px;
    background:#25D366;
    color:white;
    padding:18px 35px;
    text-decoration:none;
    border-radius:50px;
}

section{
    padding:90px 10%;
}

section h2{
    text-align:center;
    color:#147a34;
    margin-bottom:50px;
}

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:30px;
}

.card{
    background:white;
    border-radius:20px;
    overflow:hidden;
    box-shadow:0 5px 20px rgba(0,0,0,.1);
    transition:.3s;
}

.card:hover{
    transform:translateY(-8px);
}

.card img{
    width:100%;
    height:220px;
    object-fit:cover;
}

.card h3{
    padding:20px 20px 10px;
    color:#147a34;
}

.card p{
    padding:0 20px 25px;
    line-height:1.7;
}

.info-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:30px;
}

.info-card{
    background:white;
    padding:40px;
    border-radius:20px;
    text-align:center;
    box-shadow:0 5px 20px rgba(0,0,0,.08);
}

#contact{
    text-align:center;
}

#whatsappButton{
    margin-top:20px;
    padding:18px 40px;
    background:#147a34;
    border:none;
    border-radius:50px;
    font-size:18px;
    color:white;
    cursor:pointer;
}

footer{
    background:#0c4b22;
    color:white;
    padding:40px;
    text-align:center;
}

.whatsapp{
    position:fixed;
    bottom:30px;
    right:30px;
    background:#25D366;
    width:70px;
    height:70px;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:30px;
    text-decoration:none;
}

@media(max-width:768px){

    nav{
        flex-direction:column;
    }

    nav ul{
        flex-direction:column;
        text-align:center;
        gap:15px;
    }

}
